<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/javascripts/idb-utils.js"></script>
  <script src="/javascripts/index.js"></script>
</head>
<body class="landing-bg">
  <main class="h-100 d-flex flex-column justify-content-center gap-2 p-4 px-lg-5 ">
    <h1 class="display-2">Welcome to cactHi!</h1>
    <button type="button" class="btn btn-lg btn-outline-dark align-self-start mb-5" id="showLogin">Submit Plants</button>

    <div class="overlay">
      <form id="username-form" class="h-100 p-4 align-self-center d-flex flex-column mx-auto justify-content-center gap-4">
        <div class="form-floating">
          <input type="text" name="username" class="form-control" id="floatingInput" placeholder="Username" required>
          <label for="floatingInput">Username</label>
        </div>

        <button class="btn btn-outline-light" type="submit">➤</button>
      </form>
    </div>
  </main>

  <script>
    document.getElementById('showLogin').addEventListener('click', () => {
        document.querySelector('.overlay').style.width = '100%';
    });

    const form = document.getElementById('username-form');
    form.addEventListener('submit', (event) => {
        event.preventDefault();
        const username = form.username.value;
  
        addData('username', { username: username }).then(() => {
            console.log('Added username to IndexedDB');
            window.location.href = '/landing-page';
        });
    });
  </script>
</body>
</html>