<%- include('./partials/header.ejs') %>
<div class="container">
    <h1 class="mb-2">Create New Plant</h1>
    <div class="card">
        <div class="card-body">
            <form action="new-plant-sighting" method="post" enctype="multipart/form-data" id="new-plant-form">
                <div class="mb-2">
                    <label for="user" class="form-label">Username</label>
                    <input type="text" name="user" id="user" class="form-control" readonly required>
                </div>

                <div class="mb-2">
                    <label for="name" class="form-label">Name of Plant</label>
                    <input type="text" name="name" id="name" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="date_time_of_sighting" class="form-label">Date and Time of Sighting</label>
                    <input type="datetime-local" name="date_time_of_sighting" id="date_time_of_sighting" class="form-control" required>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-4">
                        <p>Place a marker on the map to select the latitude and longitude of the plant.</p>
                        <p>Alternatively, use GPS to get your current location.</p>

                        <button id="use-cur-location" class="btn btn-success mb-2" type="button">📍Use my current location</button>

                        <div class="mb-2">
                            <label for="latitude" class="form-label">Latitude</label>
                            <input type="number" name="latitude" id="latitude" class="form-control" readonly required>
                        </div>

                        <div class="mb-2">
                            <label for="longitude" class="form-label">Longitude</label>
                            <input type="number" name="longitude" id="longitude" class="form-control" readonly required>
                        </div>
                    </div>

                    <div class="col">
                        <div id="map" style="height: 20rem;"></div>
                    </div>
                </div>

                <div class="mb-2">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="description" id="description" class="form-control" required></textarea>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-6">
                        <label for="height" class="form-label">Height of Plant</label>
                        <select name="height" id="height" class="form-select" required>
                            <option>0-15cm</option>
                            <option>15-30cm</option>
                            <option>30-60cm</option>
                            <option>60-100cm</option>
                            <option>100cm+</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="spread" class="form-label">Spread of Plant</label>
                        <select name="spread" id="spread" class="form-select" required>
                            <option>0-15cm</option>
                            <option>15-30cm</option>
                            <option>30-60cm</option>
                            <option>60-100cm</option>
                            <option>100cm+</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-6">
                        <label for="flowers" class="form-label">Did the plant have flowers?</label>
                        <select name="flowers" id="flowers" class="form-select" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
    
                    <div class="col">
                        <label for="flower_colour" class="form-label">If so, what colour were the flowers?</label>
                        <input type="text" name="flower_colour" id="flower_colour" class="form-control">
                    </div>
                </div>

                <div class="row mb-2">
                    <div class="col-lg-6">
                        <label for="leaves" class="form-label">Did the plant have leaves?</label>
                        <select name="leaves" id="leaves" class="form-select" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="fruits_or_seeds" class="form-label">Were there visible seeds or fruit?</label>
                        <select name="fruits_or_seeds" id="fruits_or_seeds" class="form-select" required>
                            <option value="true">Yes</option>
                            <option value="false">No</option>
                        </select>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-lg-6">
                        <label for="sun_exposure" class="form-label">What was the level of sun exposure in the area?</label>
                        <select name="sun_exposure" id="sun_exposure" class="form-select" required>
                            <option>Full Shade</option>
                            <option>Partial Shade</option>
                            <option>Full Sun</option>
                        </select>
                    </div>

                    <div class="col">
                        <label for="image" class="form-label">Photo of plant</label>
                        <input type="file" name="image" id="image" class="form-control" accept="image/*" required>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit Plant</button>
            </form>
        </div>
    </div>
</div>

<script src="/leaflet/leaflet.js"></script>
<script src="./javascripts/map.js"></script>
<script src="./javascripts/new-plant.js"></script>
<%- include('./partials/footer.ejs') %>
