<%- include('./partials/header.ejs') %>

<div class="container">
    <div class="row gy-4">
        <div class="col-lg-4">
            <div class="card" id="plant-card">
            </div>
        </div>

        <div class="col">
            <div class="d-flex flex-column justify-content-between gap-2 border rounded" style="height: 80dvh;">
                <div class="d-flex flex-column-reverse overflow-auto p-2" style="scrollbar-width: thin;">
                    <div class="flex-grow-1" id="history">
                    </div>
                </div>  

                <div>
                    <!-- FORM FOR SENDING CHAT TEXT -->
                    <input type="hidden" id="historyChat" name="historyChat">
                    <form onsubmit="return false" class="d-flex gap-2 p-2">
                        <input type="text" name="chat_input" id="chat_input" placeholder="Send a message" class="form-control" required>
                        <button class="btn btn-primary" onclick="sendChatText()">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/javascripts/offline-detail.js"></script>
<%- include('./partials/footer.ejs') %>
