a.card {
  transition: 0.5s ease-in-out;
}

a.card:hover {
  transform: translateY(-10px);
  opacity: 0.85;
}

.tooltip-button {
  position: relative;
  display: inline-block;
}

.tooltip-button .tooltip-text {
  visibility: hidden;
  position: absolute;
  text-align: center;
  top: -0.15rem;
  right: 105%;
  z-index: 999;
}

.tooltip-button:hover .tooltip-text {
  visibility: visible;
}

#history p {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  background-color: #f4f4f4;
}

#history p::after {
  content: "";
  position: absolute;
  bottom: -20%;
  left: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent transparent #f4f4f4;
}

#history .current-user-message {
  margin-left: auto;
  background-color: #c5dcff;
}

#history .current-user-message::after {
  right: 0;
  border-color: transparent #c5dcff transparent transparent;
}

#history .system-message {
  width: 100%;
  background: transparent;
  text-align: center;
  font-size: 0.9rem;
  font-variant: small-caps;
}

#history .system-message::after {
  display: none;
}

.landing-bg {
  height: 100dvh;
  background: url("/images/landing-background.png") no-repeat center center/cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  overflow: hidden;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  transition: 0.5s ease-in-out;
}

#username-form {
  max-width: 25rem;
}